body, header, nav, ul, li, a, h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    background-color: rgb(101, 27, 243);
    color: #fff;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}
h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 48px;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    border-top: 6px double #fff;
    padding-top: 10px;
}
nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    transition: all 0.3s ease;
}
header.pages:hover {
    text-decoration: none;
    transform: scale(1.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
header.pages a:hover {
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #fff;
    color: rgb(101, 27, 243);
    border-color: #fff;
    text-decoration: none;
}