.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-container img {
    width: 450px;
    height: auto;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 95%;
}
.image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.image-link {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .image-container {
        margin: 10%;
        justify-content: center;
    }
    .image-container img {
        width: 100%;
        margin: 10px 0 40px 0;
    }
}

.image-wrapper {
    position: relative;
}
.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    width: 100%;
    color: rgb(101, 27, 243);
    box-sizing: border-box;
    text-align: center;
}