.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-container img {
    width: 450px;
    height: auto;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 95%;
}
.image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.image-link {
    text-decoration: none;
    color: inherit;
}
@media screen and (max-width: 600px) {
    .image-container img {
        width: calc(95% - 60px);
        margin-left: 45px;
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 480px) {
    .image-container img {
        width: calc(90% - 60px);
        margin-left: 30px;
        margin-right: 0;
        margin-bottom: 30px;
    }
}
.image-wrapper {
    position: relative;
}
.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    width: 100%;
    color: rgb(97, 71, 241);
    box-sizing: border-box;
    text-align: center;
}