.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;

    border-top: 6px double #fff;
    padding-top: 12px;
    padding-bottom: 3px;
    padding-left: 12px;
}
.navbar-toggle span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    display: block;
}
  
@media (max-width: 768px) {
    .navbar-list {
        display: none;
        flex-direction: column;
        position: relative;
        border-top: solid 1px #fff;
        top: 10px;
        left: 0;
        background-color: rgb(101, 27, 243);
        padding: 10px;
    } 
    .navbar-list.active {
        display: flex;
    }
    .navbar-list li {
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-toggle {
        display: flex;
    }
}